*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: white;
}

.navbar-brand{
    font-size: 200%;
}

.carousel-item{
    height: 32em;
    filter: brightness(50%);
}

.carousel-caption h5{
    font-size: 300%;
}


.card-shadow{
    box-shadow: 6px 6px 9px gray ;
}

.card1{
    margin-top: 20%;
}
.card1 img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.footer{
    height: 50%;
    margin-top: 4%;
    background-color: black;
}
